@model CinemaSpace.Models.Hall
<p> 
    <form asp-action="HallView">
        <h4>Hall: </h4>
        <select asp-for="HallNumber" onchange="this.form.submit();">
            @foreach (var hall in (ViewData["Halls"] as List<CinemaSpace.Models.Hall>))
            {
                <option value="@hall.HallNumber">@hall.HallNumber</option>
            }
        </select>
        <p/>
        <h4>Movie: </h4>
        <select asp-for="MovieName" onchange="this.form.submit();">
            @foreach (var movie in (ViewData["Movies"] as List<CinemaSpace.Models.Movie>))
            {
                if (movie.MovieName == "Empty") continue;
                bool selected = movie.MovieName == Model.CurrentMovie.MovieName;
                if (selected)
                {
                    <option value="@movie.MovieName" selected>@movie.MovieName</option>
                }
                else
                {
                    <option value="@movie.MovieName">@movie.MovieName</option>
                }
            }
        </select>
    </form>
</p>

@if ( Model != null){
    var seatsPerRow = 10;
    var rowsCount = Model.SeatsCount / seatsPerRow;
    var takenSeats = ViewData["TakenSeats"] as HashSet<int>;
    for(var i = 0;i < rowsCount; ++i)
    {
        for(var j = 0;j < seatsPerRow; ++j)
        {
            var seatNumber = i * seatsPerRow + j + 1;
            if (takenSeats is null || takenSeats.Contains(seatNumber))
            {
                <a style="color: red">@seatNumber</a>
            }
            else
            {
                <a style="color: blue">@seatNumber</a>
            }
        }
        <p/>
    }
}

