@{
    ViewData["Title"] = "Home Page";
}
<p>
    <select name="Hall">
        @foreach (var hall in (ViewData["Halls"] as List<CinemaSpace.Models.Hall>))
        {
                <option value="@hall.HallNumber">@hall.HallNumber</option>
        }
    </select>
    <a asp-action="CreateTicket">CreateTicket</a>
    <a asp-action="ChangeMovieSession">ChangeMovieSession</a>
    <a asp-action="AddMovie">AddMovie</a>
</p>

<h2>Current session</h2>
<h4>Movie:</h4><b>@Model.GetHalls()[0].CurrentMovie.MovieName</b>
<h4>Seats count:</h4><b>@Model.GetHalls()[0].SeatsCount</b>
<h4>Free seats count:</h4><b>@Model.GetHalls()[0].FreeSeatsCount</b>